<%= content_tag :div,
  id: "user-score",
  data: @user.username.to_json do %>
<% end %>
<h1>Hello, <%= @user.username %></h1>



<%= content_tag :div,
  id: "bingo-board",
  data: @phrases.to_json,
  username: @user.username.to_json,
  game_id: @user.game_id.to_json do %>
<% end %>

<%= javascript_pack_tag 'user-score' %>
<%= javascript_pack_tag 'bingo-board' %>